In [7]:
import pandas as pd
import scipy.stats as stats

In [5]:
data=pd.read_csv("C://Users//raghu//Desktop//8. Basic Stats - Case Study-2//Testing_Of_Hypothesis.csv")
data.drop('Sr No',axis=1,inplace=True)

In [6]:
data.head()

  S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0   S336499             94       A336525           82
1    S73004             99        A73011           83
2    S79537             74        A79538           88
3   S769168             74       A769222           80
4   S609791             83       A609801           74

### OBJECTIVE 1:  The Samsung Average customer satisfaction score is minimum 75%.

H0 : Samsung Score = 75

H1:  Samsung Score != 75

Test:One-sample t-test

In [9]:
data["Samsung Score"].mean()

84.9

In [8]:
stats.ttest_1samp(a=data['Samsung Score'],popmean=75)

Ttest_1sampResult(statistic=8.358287450922418, pvalue=4.0739777034636007e-13)

####  As p-values is less than .01 that means w that mean"Samsung Score" is not equal to 75 and with the help of Calculated mean we say that mean will be greater than 75.

### OBJECTIVE 2 : The overall average satisfaction score of Samsung is sameas Apple. There is no significant difference in the satisfaction scores

H0: Samsung Score =  Apple Score 

H1: Samsung Score != Apple Score

Test: Two Sample ttest(independent).We use paired when the observations are from Same person.Here customers are different

In [14]:
print(data["Samsung Score"].mean())
print(data['Apple_Score'].mean())

84.9
87.81

In [15]:
print(data["Samsung Score"].std())
print(data['Apple_Score'].std())

11.84453161982057
9.628131131788196

In [16]:
stats.ttest_ind(a=data["Samsung Score"],b=data['Apple_Score'],equal_var=False)

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)

#### As p-value is greater than 0.01 that means we accept the Null Hypothesis